{% extends "layout.html" %}
{% block body %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="jumbotron">
          <h1 class="name">AKASH'S BIO</h1>
        </div>
        <h3 class="fw-light">AKASH K. VERMA</h3>
        <h5 class="fw-light">WEB DEVELOPER</h5>
        <h4>Python | Flask | SQLAlchemy | REST | HTML5 | CSS</h4>
        <p class="lead text-muted">Python Enthusiast.</p>
        <p class="lead text-muted">Always want to learn new things about python.</p>

      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img width="100%" height="225" src="{{ url_for('static',filename= 'img/flask.png')}}" alt="">
            <div class="card-body">
              <p class="card-text">This is a blog which is made by using Flask</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://github.com/AkashVerma23/Python-flask-blog">View</a></button>

                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img width="100%" height="225" src="{{ url_for('static',filename= 'img/hangman.jpg')}}" alt="">
            <div class="card-body">
              <p class="card-text">Hangman game</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://github.com/AkashVerma23/Hangman-game-">View</a></button>

                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img width="100%" height="225" src="{{ url_for('static',filename= 'img/snake.jpg')}}" alt="">
            <div class="card-body">
              <p class="card-text">Snake game</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://github.com/AkashVerma23/Snake-game">View</a></button>

                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img width="100%" height="225" src="{{ url_for('static',filename= 'img/car.png')}}" alt="">
            <div class="card-body">
              <p class="card-text">This is a car game made by using pygame</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://github.com/AkashVerma23/Car-game">View</a></button>
                  
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

</main>




<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>

</footer>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


  </body>
</html>
{% endblock %}
